In [47]:
# The %... is an iPython thing, and is not part of the Python language.
# In this case we're just telling the plotting library to draw things on
# the notebook, instead of on a separate window.
%matplotlib inline 
#this line above prepares IPython notebook for working with matplotlib

# See all the "as ..." contructs? They're just aliasing the package names.
# That way we can call methods like plt.plot() instead of matplotlib.pyplot.plot().


import numpy as np # imports a fast numerical programming library
import scipy as sp #imports stats functions, amongst other things
import matplotlib as mpl # this actually imports matplotlib
import matplotlib.cm as cm #allows us easy access to colormaps
import matplotlib.pyplot as plt #sets up plotting under plt
import json
# plt.style.use('ggplot')

import pandas as pd #lets us handle data as dataframes

## Classifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC
from sklearn.svm import SVC
from sklearn.linear_model import SGDClassifier

## Result Analysis
from sklearn.externals import joblib
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn import model_selection, preprocessing, linear_model, naive_bayes, metrics, svm
from sklearn.metrics import recall_score, precision_score, confusion_matrix
from sklearn.metrics import accuracy_score, f1_score
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict
from sklearn import metrics


from tqdm import tqdm
from tqdm._tqdm_notebook import tqdm_notebook
tqdm_notebook.pandas()

## For Ploting
import seaborn as sns

## Word Embedding
import gensim
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from gensim.models import Word2Vec
from gensim.models import FastText
from gensim.models import doc2vec
from gensim.models.keyedvectors import KeyedVectors

from sklearn.decomposition import PCA
from sklearn.cluster import KMeans

from scipy.spatial.distance import cdist

from sklearn.manifold import TSNE

from sklearn.decomposition import LatentDirichletAllocation

## File save
import pickle
# import vincent


## Natural Language Toolkit
import nltk
nltk.download('popular')

from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.stem import PorterStemmer 
from nltk.stem import WordNetLemmatizer 
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize 

stop_words_nltk = set(stopwords.words('english')) 

# !pip install --user summa
# from summa import keywords
import logging
import spacy
import sys
from folium import FeatureGroup, LayerControl, Map, Marker
from datetime import datetime
# vincent.core.initialize_notebook()
import folium

[nltk_data] Downloading collection 'popular'
[nltk_data]    |
[nltk_data]    | Downloading package cmudict to
[nltk_data]    |     /u/erdos/mamin17/nltk_data...
[nltk_data]    |   Package cmudict is already up-to-date!
[nltk_data]    | Downloading package gazetteers to
[nltk_data]    |     /u/erdos/mamin17/nltk_data...
[nltk_data]    |   Package gazetteers is already up-to-date!
[nltk_data]    | Downloading package genesis to
[nltk_data]    |     /u/erdos/mamin17/nltk_data...
[nltk_data]    |   Package genesis is already up-to-date!
[nltk_data]    | Downloading package gutenberg to
[nltk_data]    |     /u/erdos/mamin17/nltk_data...
[nltk_data]    |   Package gutenberg is already up-to-date!
[nltk_data]    | Downloading package inaugural to
[nltk_data]    |     /u/erdos/mamin17/nltk_data...
[nltk_data]    |   Package inaugural is already up-to-date!
[nltk_data]    | Downloading package movie_reviews to
[nltk_data]    |     /u/erdos/mamin17/nltk_data...
[nltk_data]    |   Package movie_reviews is already up-to-date!
[nltk_data]    | Downloading package names to
[nltk_data]    |     /u/erdos/mamin17/nltk_data...
[nltk_data]    |   Package names is already up-to-date!
[nltk_data]    | Downloading package shakespeare to
[nltk_data]    |     /u/erdos/mamin17/nltk_data...
[nltk_data]    |   Package shakespeare is already up-to-date!
[nltk_data]    | Downloading package stopwords to
[nltk_data]    |     /u/erdos/mamin17/nltk_data...
[nltk_data]    |   Package stopwords is already up-to-date!
[nltk_data]    | Downloading package treebank to
[nltk_data]    |     /u/erdos/mamin17/nltk_data...
[nltk_data]    |   Package treebank is already up-to-date!
[nltk_data]    | Downloading package twitter_samples to
[nltk_data]    |     /u/erdos/mamin17/nltk_data...
[nltk_data]    |   Package twitter_samples is already up-to-date!
[nltk_data]    | Downloading package omw to
[nltk_data]    |     /u/erdos/mamin17/nltk_data...
[nltk_data]    |   Package omw is already up-to-date!
[nltk_data]    | Downloading package wordnet to
[nltk_data]    |     /u/erdos/mamin17/nltk_data...
[nltk_data]    |   Package wordnet is already up-to-date!
[nltk_data]    | Downloading package wordnet_ic to
[nltk_data]    |     /u/erdos/mamin17/nltk_data...
[nltk_data]    |   Package wordnet_ic is already up-to-date!
[nltk_data]    | Downloading package words to
[nltk_data]    |     /u/erdos/mamin17/nltk_data...
[nltk_data]    |   Package words is already up-to-date!
[nltk_data]    | Downloading package maxent_ne_chunker to
[nltk_data]    |     /u/erdos/mamin17/nltk_data...
[nltk_data]    |   Package maxent_ne_chunker is already up-to-date!
[nltk_data]    | Downloading package punkt to
[nltk_data]    |     /u/erdos/mamin17/nltk_data...
[nltk_data]    |   Package punkt is already up-to-date!
[nltk_data]    | Downloading package snowball_data to
[nltk_data]    |     /u/erdos/mamin17/nltk_data...
[nltk_data]    |   Package snowball_data is already up-to-date!
[nltk_data]    | Downloading package averaged_perceptron_tagger to
[nltk_data]    |     /u/erdos/mamin17/nltk_data...
[nltk_data]    |   Package averaged_perceptron_tagger is already up-
[nltk_data]    |       to-date!
[nltk_data]    |
[nltk_data]  Done downloading collection popular

In [48]:
symptom_list = ['Abdominal pain, nausea or thin closet', 'High fever', 'Cancer', 'Itching eyes or turning red', 'Diabetes', 
                'Kidney problem', 'Difficulty in breathing', 'Muscle pain', 'Dry cough', 'Not getting smell',
                'Feeling pain and pressure in chest', 'Respiratory illness' ,'Feeling testless', 'Sleepiness', 'Fever', 
                'Sore throat', 'Heart diseases', 'Weakness', 'High blood pressure']

In [49]:
len(symptom_list)

19

In [50]:
date_list = [ '2020-04-03',
 '2020-04-04',
 '2020-04-05',
 '2020-04-06',
 '2020-04-07',
 '2020-04-08',
 '2020-04-09',
 '2020-04-10',
 '2020-04-11',
 '2020-04-12',
 '2020-04-13',
 '2020-04-14',
 '2020-04-15',
 '2020-04-16',
 '2020-04-17',
 '2020-04-18',
 '2020-04-19',
 '2020-04-20',
 '2020-04-21',
 '2020-04-22',
 '2020-04-23',
 '2020-04-24',
 '2020-04-25',
 '2020-04-26',
 '2020-04-27',
 '2020-04-28',
 '2020-04-29',
 '2020-04-30',
 '2020-05-01',
 '2020-05-02',
 '2020-05-03',
 '2020-05-04',
 '2020-05-05',
 '2020-05-06',
 '2020-05-07',
 '2020-05-08',
 '2020-05-09',
 '2020-05-10',
 '2020-05-11',
 '2020-05-12',
 '2020-05-13',
 '2020-05-14',
 '2020-05-15',
 '2020-05-16',
 '2020-05-17',
 '2020-05-18',
 '2020-05-19',
 '2020-05-20',
 '2020-05-21',
 '2020-05-22',
 '2020-05-23',
 '2020-05-24',
 '2020-05-25',
 '2020-05-26',
 '2020-05-27',
 '2020-05-28',
 '2020-05-29',
 '2020-05-30',
 '2020-05-31',
 '2020-06-01',
 '2020-06-02',
 '2020-06-03',
 '2020-06-04',
 '2020-06-05',
 '2020-06-06',
 '2020-06-07',
 '2020-06-08',
 '2020-06-09',
 '2020-06-10',
 '2020-06-11',
 '2020-06-12',
 '2020-06-13',
 '2020-06-14',
 '2020-06-15',
 '2020-06-16',
 '2020-06-17',
 '2020-06-18',
 '2020-06-19',
 '2020-06-20',
 '2020-06-21',
 '2020-06-22',
 '2020-06-23',
 '2020-06-24',
 '2020-06-25',
 '2020-06-26',
 '2020-06-27',
 '2020-06-28',
 '2020-06-29',
 '2020-06-30',
 '2020-07-01',
 '2020-07-02',
 '2020-07-03',
 '2020-07-04',
 '2020-07-05',
 '2020-07-06',
 '2020-07-07',
 '2020-07-08',
 '2020-07-09',
 '2020-07-10',
 '2020-07-11',
 '2020-07-12',
 '2020-07-13',
 '2020-07-14',
 '2020-07-15',
 '2020-07-16',
 '2020-07-17',
 '2020-07-18',
 '2020-07-19',
 '2020-07-20',
 '2020-07-21',
 '2020-07-22',
 '2020-07-23',
 '2020-07-24',
 '2020-07-25',
 '2020-07-26',
 '2020-07-27',
 '2020-07-28',
 '2020-07-29',
 '2020-07-30',
 '2020-07-31',
 '2020-08-01',
 '2020-08-02',
 '2020-08-03',
 '2020-08-04',
 '2020-08-05',
 '2020-08-06',
 '2020-08-07',
 '2020-08-08',
 '2020-08-09',
 '2020-08-10',
 '2020-08-11',
 '2020-08-12',
 '2020-08-13',
 '2020-08-14',
 '2020-08-15',
 '2020-08-16',
 '2020-08-17',
 '2020-08-18',
 '2020-08-19',
 '2020-08-20',
 '2020-08-21',
 '2020-08-22',
 '2020-08-23',
 '2020-08-24',
 '2020-08-25',
 '2020-08-26',
 '2020-08-27',
 '2020-08-28',
 '2020-08-29',
 '2020-08-30',
 '2020-08-31',
 '2020-09-01',
 '2020-09-02',
 '2020-09-03',
 '2020-09-04',
 '2020-09-05',
 '2020-09-06',
 '2020-09-07',
 '2020-09-08',
 '2020-09-09',
 '2020-09-10',
 '2020-09-11',
 '2020-09-12',
 '2020-09-13',
 '2020-09-14',
 '2020-09-15',
 '2020-09-16',
 '2020-09-17',
 '2020-09-18',
 '2020-09-19',
 '2020-09-20',
 '2020-09-21',
 '2020-09-22',
 '2020-09-23',
 '2020-09-24',
 '2020-09-25',
 '2020-09-26',
 '2020-09-27',
 '2020-09-28',
 '2020-09-29',
 '2020-09-30',
 '2020-10-01',
 '2020-10-02',
 '2020-10-03',
 '2020-10-04',
 '2020-10-05',
 '2020-10-06',
 '2020-10-07',
 '2020-10-08',
 '2020-10-09',
 '2020-10-10',
 '2020-10-11',
 '2020-10-12',
 '2020-10-13',
 '2020-10-14',
 '2020-10-15',
 '2020-10-16',
 '2020-10-17',
 '2020-10-18',
 '2020-10-19',
 '2020-10-20',
 '2020-10-21',
 '2020-10-22',
 '2020-10-23',
 '2020-10-24',
 '2020-10-25',
 '2020-10-26',
 '2020-10-27',
 '2020-10-28',
 '2020-10-29',
 '2020-10-30',
 '2020-10-31',
 '2020-11-01',
 '2020-11-02',
 '2020-11-03',
 '2020-11-04',
 '2020-11-05',
 '2020-11-06',
 '2020-11-07',
 '2020-11-08',
 '2020-11-09',
 '2020-11-10',
 '2020-11-11',
 '2020-11-12',
 '2020-11-13',
 '2020-11-14',
 '2020-11-15',
 '2020-11-16',
 '2020-11-17',
 '2020-11-18',
 '2020-11-19',
 '2020-11-20',
 '2020-11-21',
 '2020-11-22',
 '2020-11-23',
 '2020-11-24',
 '2020-11-25',
 '2020-11-26',
 '2020-11-27',
 '2020-11-28',
 '2020-11-29',
 '2020-11-30',
 '2020-12-01',
 '2020-12-02',
 '2020-12-03',
 '2020-12-04',
 '2020-12-05',
 '2020-12-06',
 '2020-12-07',
 '2020-12-08',
 '2020-12-09',
 '2020-12-10',
 '2020-12-11',
 '2020-12-12',
 '2020-12-13',
 '2020-12-14',
 '2020-12-15',
 '2020-12-16',
 '2020-12-17',
 '2020-12-18',
 '2020-12-19',
 '2020-12-20',
 '2020-12-21',
 '2020-12-22',
 '2020-12-23',
 '2020-12-24',
 '2020-12-25',
 '2020-12-26',
 '2020-12-27',
 '2020-12-28',
 '2020-12-29',
 '2020-12-30',
 '2020-12-31',
 '2021-01-01',
 '2021-01-02',
 '2021-01-03',
 '2021-01-04',
 '2021-01-05',
 '2021-01-06',
 '2021-01-07',
 '2021-01-08',
 '2021-01-09',
 '2021-01-10',
 '2021-01-11',
 '2021-01-12',
 '2021-01-13',
 '2021-01-14',
 '2021-01-15',
 '2021-01-16',
 '2021-01-17',
 '2021-01-18',
 '2021-01-19',
 '2021-01-20',
 '2021-01-21',
 '2021-01-22',
 '2021-01-23',
 '2021-01-24',
 '2021-01-25',
 '2021-01-26',
 '2021-01-27',
 '2021-01-28',
 '2021-01-29',
 '2021-01-30',
 '2021-01-31',
 '2021-02-01',
 '2021-02-02',
 '2021-02-03',
 '2021-02-04',
 '2021-02-05',
 '2021-02-06' ]

In [51]:
len(date_list)

310

In [52]:
dist_list = [
 'Bagerhat',
 'Bandarban',
 'Barguna',
 'Barisal',
 'Bhola',
 'Bogra',
 'Brahmanbaria',
 'Chandpur',
 'Chapainawabganj',
 'Chittagong',
 'Chuadanga',
 'Comilla',
 "Cox's Bazar",
 'Dhaka',
 'Dinajpur',
 'Faridpur',
 'Feni',
 'Gaibandha',
 'Gazipur',
 'Gopalganj',
 'Habiganj',
 'Jaipurhat',
 'Jamalpur',
 'Jessore',
 'Jhalokati',
 'Jhenaidah',
 'Khagrachhari',
 'Khulna',
 'Kishoreganj',
 'Kurigram',
 'Kushtia',
 'Lakshmipur',
 'Lalmonirhat',
 'Madaripur',
 'Magura',
 'Manikganj',
 'Maulvibazar',
 'Meherpur',
 'Munshiganj',
 'Mymensingh',
 'Naogaon',
 'Narail',
 'Narayanganj',
 'Narsingdi',
 'Natore',
 'Netrokona',
 'Nilphamari',
 'Noakhali',
 'Pabna',
 'Panchagarh',
 'Patuakhali',
 'Pirojpur',
 'Rajbari',
 'Rajshahi',
 'Rangamati',
 'Rangpur',
 'Satkhira',
 'Shariatpur',
 'Sherpur',
 'Sirajganj',
 'Sunamganj',
 'Sylhet',
 'Tangail',
 'Thakurgaon'
]

In [53]:
len(dist_list)

64

In [54]:
dist_list.append('date')
print(len(dist_list))

65

In [55]:
# with open('/mnt/mamin17/bsbijoy2050/Covid19/bdcovid/newdata/symptom_list_bdcovid.pickle', 'wb') as handle:
#     pickle.dump(symptom_list, handle)

In [56]:
# df_c = pd.read_csv('/mnt/mamin17/bsbijoy2050/Covid19/bdcovid/newdata/Shajib-Sir-Formatted-Data/'+'Diabetes'+'_Reports_over_Districts.csv', header  = 0)
# df_c

In [57]:
# newcol_kidney = []
# for ind in range(305):
#     newcol_kidney.append(0)
# print(len(newcol_kidney))

# newcol_cancer = []
# for ind in range(284):
#     newcol_cancer.append(0)
# print(len(newcol_cancer))

# newcol_high_fever = []
# for ind in range(308):
#     newcol_high_fever.append(0)
# print(len(newcol_high_fever))

# newcol_heart = []
# for ind in range(309):
#     newcol_heart.append(0)
# print(len(newcol_heart))

In [58]:
# newrow = {}
# newrow['date'] = '2020-09-24'
# for sin_dist in dist_list[:-1]:
#     newrow[sin_dist] = 0
# # newrow
# print(newrow)
# print(len(newrow))

In [59]:
# df_c = pd.read_csv('/mnt/mamin17/bsbijoy2050/Covid19/bdcovid/newdata/Shajib-Sir-Formatted-Data/'+'Cancer'+'_Reports_over_Districts.csv', header  = 0)
# # df_c.tail(15)
# line = pd.DataFrame(newrow, index=[179])
# df_c = pd.concat([df_c.loc[:178], line, df_c.loc[179:]]).reset_index(drop=True)
# df_c.tail(20)

In [66]:
cnt=0

for sn in symptom_list:
    
#     if cnt>1:
#         break
        
    df = pd.read_csv('/mnt/mamin17/bsbijoy2050/Covid19/bdcovid/new_data_11_march/Shajib-Sir-Formatted-Data/'+sn+'_Reports_over_Districts.csv', header  = 0)
    print(sn, df.shape)
    
    
    newcol = []
    for ind in range(df.shape[0]):
        newcol.append(0)
    
    for sin_dist in dist_list:
        if sin_dist in df.columns.tolist():
            continue
        else:
            df[sin_dist] = newcol
    df = df[dist_list]
    
#     if sn == 'Cancer':
        
#         line = pd.DataFrame(newrow, index=[179])
#         df = pd.concat([df.loc[:178], line, df.loc[179:]]).reset_index(drop=True)
    
    print(sn, df.shape)
    
    for singleDate in date_list:
        if singleDate in list(df['date']):
            continue
        else:
            newrow = {}
            
            for sin_dist in dist_list[:-1]:
                newrow[sin_dist] = 0
                
            newrow['date'] = singleDate
            
            line = pd.DataFrame([newrow])
            df = df.append(line, ignore_index=True)
#             df = pd.concat([line]).reset_index(drop=True)
        # newrow
    print(sn, df.shape)
    
    
    
    df['date'] =  pd.to_datetime(df['date'],format='%Y-%m-%d') 
    df = df.sort_values(by = ['date'], ascending = [True])
    display(df)
    df.to_csv('/mnt/mamin17/bsbijoy2050/Covid19/bdcovid/new_data_11_march/Processed/'+sn+'.csv', index = False)
    
    
#     dist_set.update(df.columns)
# #     df['date'] =  pd.to_datetime(df['date'],format='%Y-%m-%d') 
#     df = df[fil_col]
#     df.to_csv('/mnt/mamin17/bsbijoy2050/Covid19/bdcovid/'+sn+'.csv', index = False)
#     display(df)
    cnt+=1

Abdominal pain, nausea or thin closet (310, 67)
Abdominal pain, nausea or thin closet (310, 65)
Abdominal pain, nausea or thin closet (310, 65)

,Bagerhat,Bandarban,Barguna,Barisal,Bhola,Bogra,Brahmanbaria,Chandpur,Chapainawabganj,Chittagong,...,Rangpur,Satkhira,Shariatpur,Sherpur,Sirajganj,Sunamganj,Sylhet,Tangail,Thakurgaon,date
0,0,0,0,0,3,0,0,3,2,12,...,1,2,0,2,3,0,0,1,0,2020-04-03
1,0,0,0,0,0,8,3,3,0,19,...,3,3,0,0,9,1,10,5,1,2020-04-04
2,2,0,0,4,2,5,0,6,2,12,...,1,1,0,0,3,1,5,6,0,2020-04-05
3,3,0,1,6,1,9,6,3,0,34,...,2,2,3,3,1,2,6,9,0,2020-04-06
4,0,0,0,4,2,3,0,1,0,7,...,0,1,0,0,4,0,6,2,0,2020-04-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-02
306,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-03
307,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-04
308,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-05
309,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-06

High fever (308, 66)
High fever (308, 65)
High fever (310, 65)

,Bagerhat,Bandarban,Barguna,Barisal,Bhola,Bogra,Brahmanbaria,Chandpur,Chapainawabganj,Chittagong,...,Rangpur,Satkhira,Shariatpur,Sherpur,Sirajganj,Sunamganj,Sylhet,Tangail,Thakurgaon,date
0,0,0,0,1,1,0,0,0,0,3,...,1,0,0,2,0,0,0,0,0,2020-04-03
1,0,0,0,1,0,0,0,0,0,5,...,0,1,0,0,2,1,1,1,0,2020-04-04
2,2,0,0,0,0,0,2,0,1,5,...,0,0,0,0,0,0,1,0,0,2020-04-05
3,0,0,1,2,1,0,0,0,0,5,...,2,0,0,0,1,3,0,0,0,2020-04-06
4,0,0,0,2,0,0,0,0,0,3,...,2,0,0,0,3,0,5,0,0,2020-04-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-02
304,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-03
305,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-04
306,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-05
307,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-06

Cancer (284, 61)
Cancer (284, 65)
Cancer (310, 65)

,Bagerhat,Bandarban,Barguna,Barisal,Bhola,Bogra,Brahmanbaria,Chandpur,Chapainawabganj,Chittagong,...,Rangpur,Satkhira,Shariatpur,Sherpur,Sirajganj,Sunamganj,Sylhet,Tangail,Thakurgaon,date
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,2020-04-03
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,2020-04-04
2,2,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,2020-04-05
3,0,0,0,2,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,2020-04-06
4,0,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,2020-04-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-02
307,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-03
283,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-04
308,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-05
309,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-06

Itching eyes or turning red (310, 66)
Itching eyes or turning red (310, 65)
Itching eyes or turning red (310, 65)

,Bagerhat,Bandarban,Barguna,Barisal,Bhola,Bogra,Brahmanbaria,Chandpur,Chapainawabganj,Chittagong,...,Rangpur,Satkhira,Shariatpur,Sherpur,Sirajganj,Sunamganj,Sylhet,Tangail,Thakurgaon,date
0,2,0,0,0,3,1,2,5,1,13,...,0,0,0,3,1,1,2,5,0,2020-04-03
1,2,0,3,3,5,10,3,7,2,39,...,10,7,0,2,18,1,14,12,1,2020-04-04
2,2,1,2,7,3,8,5,7,2,37,...,6,6,1,3,1,4,9,6,1,2020-04-05
3,1,2,2,24,3,8,7,7,2,80,...,17,1,7,5,14,3,33,13,3,2020-04-06
4,1,0,0,3,0,4,2,0,0,18,...,5,0,1,1,3,1,4,4,1,2020-04-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,0,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,2021-02-02
306,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-03
307,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-04
308,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,2021-02-05
309,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-06

Diabetes (310, 67)
Diabetes (310, 65)
Diabetes (310, 65)

,Bagerhat,Bandarban,Barguna,Barisal,Bhola,Bogra,Brahmanbaria,Chandpur,Chapainawabganj,Chittagong,...,Rangpur,Satkhira,Shariatpur,Sherpur,Sirajganj,Sunamganj,Sylhet,Tangail,Thakurgaon,date
0,0,0,0,1,0,1,1,0,1,5,...,4,1,0,0,2,1,3,1,0,2020-04-03
1,1,0,0,0,1,3,0,2,0,24,...,4,1,0,1,1,0,0,3,8,2020-04-04
2,2,0,0,4,1,3,3,1,2,26,...,2,3,0,1,0,3,3,9,0,2020-04-05
3,0,0,0,10,1,5,4,3,1,41,...,4,0,4,1,3,3,9,6,3,2020-04-06
4,0,0,0,2,1,1,0,2,0,3,...,6,1,2,1,1,0,4,2,1,2020-04-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-02
306,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-03
307,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-04
308,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-05
309,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-06

Kidney problem (305, 66)
Kidney problem (305, 65)
Kidney problem (310, 65)

,Bagerhat,Bandarban,Barguna,Barisal,Bhola,Bogra,Brahmanbaria,Chandpur,Chapainawabganj,Chittagong,...,Rangpur,Satkhira,Shariatpur,Sherpur,Sirajganj,Sunamganj,Sylhet,Tangail,Thakurgaon,date
0,2,0,0,0,0,2,0,1,0,2,...,0,1,0,0,0,0,0,2,0,2020-04-03
1,0,0,0,1,0,1,0,0,0,4,...,2,0,0,0,1,0,0,2,1,2020-04-04
2,2,0,0,0,0,1,0,2,0,3,...,1,1,0,0,0,3,3,2,0,2020-04-05
3,0,0,0,1,1,0,0,1,1,16,...,1,2,2,1,0,3,1,1,1,2020-04-06
4,0,0,0,0,0,0,0,0,0,1,...,2,0,0,0,0,0,0,0,0,2020-04-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-02
302,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-03
303,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-04
304,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-05
309,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-06

Difficulty in breathing (310, 66)
Difficulty in breathing (310, 65)
Difficulty in breathing (310, 65)

,Bagerhat,Bandarban,Barguna,Barisal,Bhola,Bogra,Brahmanbaria,Chandpur,Chapainawabganj,Chittagong,...,Rangpur,Satkhira,Shariatpur,Sherpur,Sirajganj,Sunamganj,Sylhet,Tangail,Thakurgaon,date
0,0,0,1,0,2,7,3,3,0,12,...,1,1,2,5,0,0,3,1,1,2020-04-03
1,1,0,0,13,0,7,3,5,3,26,...,7,2,1,1,16,1,6,17,4,2020-04-04
2,3,0,1,4,2,7,2,8,2,25,...,6,4,2,1,6,4,13,6,0,2020-04-05
3,1,2,2,9,2,11,19,6,3,48,...,11,3,6,1,3,5,8,1,1,2020-04-06
4,0,0,0,3,0,4,4,1,0,12,...,2,4,2,1,0,0,9,7,0,2020-04-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,2021-02-02
306,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-03
307,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-04
308,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-05
309,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-06

Muscle pain (310, 67)
Muscle pain (310, 65)
Muscle pain (310, 65)

,Bagerhat,Bandarban,Barguna,Barisal,Bhola,Bogra,Brahmanbaria,Chandpur,Chapainawabganj,Chittagong,...,Rangpur,Satkhira,Shariatpur,Sherpur,Sirajganj,Sunamganj,Sylhet,Tangail,Thakurgaon,date
0,1,0,1,0,0,4,5,7,1,11,...,0,1,0,7,1,0,0,1,0,2020-04-03
1,4,0,0,1,2,11,7,5,1,20,...,10,2,0,0,10,2,16,8,3,2020-04-04
2,2,0,0,8,6,9,7,7,4,42,...,2,5,2,1,2,3,14,4,0,2020-04-05
3,1,1,1,16,4,13,13,6,1,91,...,12,5,10,0,16,7,22,8,4,2020-04-06
4,1,0,0,3,0,5,3,2,1,18,...,3,0,0,1,3,1,7,3,3,2020-04-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-02
306,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-03
307,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-04
308,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,2021-02-05
309,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-06

Dry cough (310, 67)
Dry cough (310, 65)
Dry cough (310, 65)

,Bagerhat,Bandarban,Barguna,Barisal,Bhola,Bogra,Brahmanbaria,Chandpur,Chapainawabganj,Chittagong,...,Rangpur,Satkhira,Shariatpur,Sherpur,Sirajganj,Sunamganj,Sylhet,Tangail,Thakurgaon,date
0,4,0,0,4,4,10,5,1,0,36,...,3,2,0,5,2,0,11,7,1,2020-04-03
1,1,2,1,5,4,22,18,15,3,94,...,9,7,2,2,23,1,29,20,5,2020-04-04
2,4,1,1,20,4,5,8,25,6,115,...,18,7,1,4,4,6,32,19,1,2020-04-05
3,2,4,7,29,6,42,16,11,9,164,...,33,12,12,5,19,12,47,19,14,2020-04-06
4,1,0,0,13,4,6,7,3,0,45,...,3,7,5,0,8,3,12,6,3,2020-04-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-02
306,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,2021-02-03
307,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-04
308,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-05
309,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-06

Not getting smell (310, 66)
Not getting smell (310, 65)
Not getting smell (310, 65)

,Bagerhat,Bandarban,Barguna,Barisal,Bhola,Bogra,Brahmanbaria,Chandpur,Chapainawabganj,Chittagong,...,Rangpur,Satkhira,Shariatpur,Sherpur,Sirajganj,Sunamganj,Sylhet,Tangail,Thakurgaon,date
0,0,0,0,0,0,3,0,4,0,2,...,0,0,0,5,2,1,0,0,0,2020-04-03
1,0,0,0,0,2,4,2,2,0,12,...,6,0,0,0,8,0,1,1,1,2020-04-04
2,2,0,0,1,0,4,2,5,0,8,...,1,0,0,1,3,4,1,2,3,2020-04-05
3,0,0,1,3,1,4,1,1,0,13,...,9,0,1,3,2,3,11,0,0,2020-04-06
4,1,0,0,1,2,0,0,0,0,8,...,3,3,0,0,0,0,1,0,1,2020-04-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-02
306,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-03
307,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,2021-02-04
308,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-05
309,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,2021-02-06

Feeling pain and pressure in chest (310, 66)
Feeling pain and pressure in chest (310, 65)
Feeling pain and pressure in chest (310, 65)

,Bagerhat,Bandarban,Barguna,Barisal,Bhola,Bogra,Brahmanbaria,Chandpur,Chapainawabganj,Chittagong,...,Rangpur,Satkhira,Shariatpur,Sherpur,Sirajganj,Sunamganj,Sylhet,Tangail,Thakurgaon,date
0,1,0,1,1,0,4,4,2,1,17,...,1,0,1,3,0,0,4,2,1,2020-04-03
1,0,0,0,10,2,5,7,4,1,38,...,8,3,0,3,13,1,6,10,4,2020-04-04
2,3,0,2,5,2,8,7,9,4,42,...,3,3,0,1,3,1,21,10,2,2020-04-05
3,0,7,2,18,1,21,21,6,3,63,...,13,16,9,4,11,5,16,5,2,2020-04-06
4,1,0,0,7,0,3,0,1,0,21,...,4,0,1,0,3,1,7,2,0,2020-04-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,0,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,2021-02-02
306,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-03
307,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-04
308,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,2021-02-05
309,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-06

Respiratory illness (310, 66)
Respiratory illness (310, 65)
Respiratory illness (310, 65)

,Bagerhat,Bandarban,Barguna,Barisal,Bhola,Bogra,Brahmanbaria,Chandpur,Chapainawabganj,Chittagong,...,Rangpur,Satkhira,Shariatpur,Sherpur,Sirajganj,Sunamganj,Sylhet,Tangail,Thakurgaon,date
0,0,0,0,0,0,2,1,0,0,6,...,0,0,0,2,0,0,0,1,0,2020-04-03
1,1,0,0,1,0,4,0,3,0,18,...,3,1,1,0,8,1,2,4,1,2020-04-04
2,2,0,0,3,0,3,1,0,0,19,...,0,2,2,0,6,2,2,4,1,2020-04-05
3,0,0,0,5,2,6,6,3,1,26,...,4,4,2,0,4,2,7,2,2,2020-04-06
4,0,0,0,1,1,1,4,0,0,5,...,3,0,0,0,1,0,2,2,0,2020-04-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-02
306,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-03
307,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-04
308,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-05
309,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-06

Feeling testless (310, 66)
Feeling testless (310, 65)
Feeling testless (310, 65)

,Bagerhat,Bandarban,Barguna,Barisal,Bhola,Bogra,Brahmanbaria,Chandpur,Chapainawabganj,Chittagong,...,Rangpur,Satkhira,Shariatpur,Sherpur,Sirajganj,Sunamganj,Sylhet,Tangail,Thakurgaon,date
0,1,0,0,0,1,8,2,2,0,8,...,0,0,2,3,3,0,0,3,0,2020-04-03
1,0,0,0,1,1,5,2,3,0,20,...,5,1,0,0,5,0,4,3,0,2020-04-04
2,2,0,0,3,8,6,6,5,2,17,...,1,2,0,1,2,1,6,3,0,2020-04-05
3,0,0,3,7,3,7,5,5,0,25,...,7,0,0,1,11,6,13,0,0,2020-04-06
4,0,0,0,2,2,5,1,2,0,14,...,2,0,0,0,5,1,3,2,0,2020-04-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-02
306,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-03
307,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-04
308,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-05
309,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-06

Sleepiness (310, 66)
Sleepiness (310, 65)
Sleepiness (310, 65)

,Bagerhat,Bandarban,Barguna,Barisal,Bhola,Bogra,Brahmanbaria,Chandpur,Chapainawabganj,Chittagong,...,Rangpur,Satkhira,Shariatpur,Sherpur,Sirajganj,Sunamganj,Sylhet,Tangail,Thakurgaon,date
0,3,0,0,0,0,8,3,5,0,8,...,3,1,0,5,0,0,2,2,0,2020-04-03
1,2,1,3,3,1,15,3,10,2,30,...,6,1,1,2,13,0,14,9,1,2020-04-04
2,2,2,1,4,1,5,3,4,1,28,...,3,4,0,2,3,14,12,5,1,2020-04-05
3,3,0,2,13,1,12,14,6,4,72,...,15,19,5,3,8,3,23,9,9,2020-04-06
4,0,0,0,3,5,4,4,0,0,11,...,2,2,1,1,1,0,6,1,0,2020-04-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-02
306,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-03
307,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-04
308,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-05
309,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-06

Fever (310, 66)
Fever (310, 65)
Fever (310, 65)

,Bagerhat,Bandarban,Barguna,Barisal,Bhola,Bogra,Brahmanbaria,Chandpur,Chapainawabganj,Chittagong,...,Rangpur,Satkhira,Shariatpur,Sherpur,Sirajganj,Sunamganj,Sylhet,Tangail,Thakurgaon,date
0,0,0,0,2,0,5,1,1,1,18,...,1,1,0,1,1,0,4,3,1,2020-04-03
1,0,0,0,0,2,3,0,0,1,37,...,3,1,0,0,6,0,5,3,4,2020-04-04
2,0,0,0,4,2,3,4,4,4,31,...,3,2,2,1,2,2,9,6,3,2020-04-05
3,0,1,1,4,2,6,1,6,0,48,...,7,2,0,1,3,1,8,4,2,2020-04-06
4,0,0,0,2,0,3,2,3,0,7,...,0,2,1,0,0,1,2,10,0,2020-04-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-02
306,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-03
307,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-04
308,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,2021-02-05
309,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-06

Sore throat (310, 66)
Sore throat (310, 65)
Sore throat (310, 65)

,Bagerhat,Bandarban,Barguna,Barisal,Bhola,Bogra,Brahmanbaria,Chandpur,Chapainawabganj,Chittagong,...,Rangpur,Satkhira,Shariatpur,Sherpur,Sirajganj,Sunamganj,Sylhet,Tangail,Thakurgaon,date
0,2,0,0,7,1,5,6,0,0,15,...,1,1,2,2,2,1,2,3,0,2020-04-03
1,3,0,0,4,3,8,9,5,2,59,...,6,3,1,2,12,1,9,6,4,2020-04-04
2,2,0,1,7,7,15,6,9,1,47,...,11,0,0,0,5,8,24,9,0,2020-04-05
3,0,1,3,19,2,12,4,8,0,72,...,19,5,2,1,11,8,19,12,6,2020-04-06
4,1,0,0,10,0,6,1,3,0,24,...,7,2,1,1,5,0,6,1,1,2020-04-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-02
306,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-03
307,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-04
308,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-05
309,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-06

Heart diseases (309, 66)
Heart diseases (309, 65)
Heart diseases (310, 65)

,Bagerhat,Bandarban,Barguna,Barisal,Bhola,Bogra,Brahmanbaria,Chandpur,Chapainawabganj,Chittagong,...,Rangpur,Satkhira,Shariatpur,Sherpur,Sirajganj,Sunamganj,Sylhet,Tangail,Thakurgaon,date
0,0,0,0,0,1,2,0,0,0,6,...,3,0,0,0,1,1,3,1,0,2020-04-03
1,0,0,0,1,0,2,0,4,2,4,...,3,0,0,0,3,0,4,2,1,2020-04-04
2,2,0,0,3,0,1,2,0,1,12,...,1,0,0,1,1,2,4,3,0,2020-04-05
3,0,0,0,4,1,4,2,0,0,29,...,2,3,1,0,4,1,7,1,1,2020-04-06
4,0,0,0,0,0,0,0,1,0,6,...,2,0,0,1,0,0,0,0,0,2020-04-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-02
306,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-03
307,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-04
308,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-05
309,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-06

Weakness (310, 67)
Weakness (310, 65)
Weakness (310, 65)

,Bagerhat,Bandarban,Barguna,Barisal,Bhola,Bogra,Brahmanbaria,Chandpur,Chapainawabganj,Chittagong,...,Rangpur,Satkhira,Shariatpur,Sherpur,Sirajganj,Sunamganj,Sylhet,Tangail,Thakurgaon,date
0,5,0,1,2,4,12,7,13,2,16,...,3,2,1,6,3,1,3,4,1,2020-04-03
1,1,0,2,7,2,18,11,15,5,61,...,13,4,1,2,23,2,21,21,3,2020-04-04
2,2,1,2,9,7,11,9,17,4,70,...,14,7,0,2,7,13,22,9,3,2020-04-05
3,6,4,4,34,4,31,25,12,7,120,...,30,20,10,5,12,6,32,16,4,2020-04-06
4,1,0,0,7,5,8,7,5,0,37,...,3,6,1,0,5,1,15,7,2,2020-04-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-02
306,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-03
307,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-04
308,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-05
309,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-06

High blood pressure (310, 66)
High blood pressure (310, 65)
High blood pressure (310, 65)

,Bagerhat,Bandarban,Barguna,Barisal,Bhola,Bogra,Brahmanbaria,Chandpur,Chapainawabganj,Chittagong,...,Rangpur,Satkhira,Shariatpur,Sherpur,Sirajganj,Sunamganj,Sylhet,Tangail,Thakurgaon,date
0,4,0,0,1,0,6,2,1,0,12,...,0,0,0,2,2,1,3,2,0,2020-04-03
1,1,0,0,1,1,3,1,1,2,22,...,3,1,0,0,7,0,10,7,8,2020-04-04
2,2,0,0,0,0,5,7,3,0,39,...,4,3,0,0,0,3,13,5,0,2020-04-05
3,0,0,2,9,1,14,7,0,1,72,...,12,1,3,1,9,3,17,7,2,2020-04-06
4,0,0,0,3,1,1,0,1,0,15,...,5,3,2,2,3,0,1,2,0,2020-04-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-02
306,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-03
307,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-04
308,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-05
309,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-02-06